@model FASTrack.Model.DTO.MSTServiceDto

@{
    ViewBag.Title = "Delete";
}
<h2>Delete Service Type</h2>
<h5>Are you sure you want to delete this?</h5>
<hr />

@{
    Html.RenderPartial("_PartialPageMSTDelete", Model);
}
