@model FASTrack.Model.DTO.MSTPriorityDto

@{
    ViewBag.Title = "Delete";
}

<h2>Delete Priority Code</h2>
<h5>Are you sure you want to delete this?</h5>
<hr />

@{
    Html.RenderPartial("_PartialPageMSTDelete", Model);
}